<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <h1 class="mt-4">GuestBook Modify Page</h1>

        <form action="/guestbook/modify" method="post" id="form_action">
            <input type="hidden" name="page" id="page_info" th:value="${requestDTO.page}">
            <input type="hidden" name="type" id="type_info" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" id="keyword_info" th:value="${requestDTO.keyword}">
            <div class="form-group">
                <label>Gno</label>
                <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly>
            </div>

            <div class="form-group">
                <label> Title</label>
                <input type="text" class="form-control" name="title" th:value="${dto.title}">
            </div>

            <div class="form-group">
                <label> Title</label>
                <textarea class="form-control" rows="5" name="content" >[[${dto.content}]]</textarea>
            </div>

            <div class="form-group">
                <label> Writer</label>
                <input type="text" class="form-control" name="writer" th:value="${dto.writer}">
            </div>

            <div class="form-group">
                <label> RegDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:s')}" readonly>
            </div>

            <div class="form-group">
                <label> ModDate</label>
                <input type="text" class="form-control"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:s')}" readonly>
            </div>
        </form>


        <form action="/guestbook/list" method="get" id="list_action">
            <input type="hidden" name="page" id="page_info" th:value="${requestDTO.page}">
            <input type="hidden" name="type" id="type_info" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" id="keyword_info" th:value="${requestDTO.keyword}">
        </form>

        <p></p>

        <button type="button" class="btn btn-primary modifyBtn" id="modify_button"> Modify</button>
        <button type="button" class="btn btn-info listBtn" id="list_button"> List</button>
        <button type="button" class="btn btn-danger removeBtn" id="remove_button"> Remove</button>

        <script th:inline="javascript">

            var actionForm = document.getElementById("form_action");

            document.getElementById("remove_button").addEventListener(
                "click", function () {
                    actionForm.setAttribute("action", "/guestbook/remove");
                    actionForm.setAttribute("method", "post");
                    actionForm.submit();
                }
            );

            document.getElementById("modify_button").addEventListener(
                "click", function () {
                    if (!confirm("수정하시겠습니까?")) {
                        return ;
                    }
                    actionForm.setAttribute("action", "/guestbook/modify");
                    actionForm.setAttribute("method", "post");
                    actionForm.submit();
                }
            );

            var actionForm2 = $("form");
            ${(".listBtn")}.click(function () {
                var page = $("input[name='page']");
                var type = $("input[name='type']");
                var keyword = $("input[name='keyword']");

                actionForm2.empty();
                actionForm2.append(page);
                actionForm2.append(type);
                actionForm2.append(keyword);
                actionForm2
                    .attr("action", "/board/list")
                    .attr("method", "get");
                actionForm2.submit();
            })



        </script>
    </th:block>
</th:block>
